/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 13, 2022, 4:06:48 PM
    Author     : ASUS
*/

/* Align the Forget Form between the screen */
.style-forget-password{
    border: solid rgb(228, 228, 228);
    background-color: rgb(247, 247, 247);
    border-radius: 10px;
    width: 40%;
    margin: auto;
    padding: 150px 20px;
    margin-top: 40px;
}