/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 11, 2022, 9:32:48 PM
    Author     : BH1704
*/

.product-detail-price{
    color: rgb(209, 0, 0);
    font-weight: 600;
}
.product-detail-sale{
    color: grey;
    text-decoration-line: line-through;
    font-weight: 400;
}
.product-desciption{
    width: 60%;
    margin: auto;
    margin-top: 100px;
    border: 1px solid rgb(241, 241, 241);
    padding: 20px;
    border-radius: 10px;
}
.review-product{
    width: 60%;
    margin: 20px auto;
    border: 1px solid rgb(241, 241, 241);
    padding: 20px;
    border-radius: 10px;
}
