.form-review{
    width: 70% !important;
    margin: auto;
    border: 1px solid rgb(219, 219, 219);
    padding: 30px;
    border-radius: 5px;
}
.btn-icon-star{
    background-color: white;
    border: none;
}
.color-star{
    color: orange;
}
.title-star{
    font-size: 13px;
}
.input-quantity{
    width: 15%;
    text-align: center;}
.btn-review{
    border: none;
    padding: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.choose-rc{
    display: block;
    border: 1px solid;
    text-align: center !important;
    margin: auto !important;
}