*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #F8F8F8 !important;
}
.advanced-search{
    margin-top: 130px;
}
.product-portfolio{
    border: 1px solid rgb(252, 252, 252);
    background-color: white;

}
ul > li {
    list-style-type: none;
}
li> a{
    text-decoration: none;
    color: black;
    line-height: 30px;
}
.choose-item-search{
    background-color: #F0F0F0;
    border: 1px solid rgb(247, 247, 247);
    padding: 8px 0;
}
.format-btn{
    padding: 6px 20px;
    border-radius: 5px;
    background-color: white;
    border: none;
}
.format-btn-price{
    padding: 6px 80px;
    border-radius: 5px;
    background-color: white;
    border: none;
    text-decoration: none;
    color: black;
}
.btn-pagination-left{
    padding: 6px 10px;
    background-color: white;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.btn-pagination-right{
    padding: 6px 10px;
    background-color: white;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.text-price{
    font-size: 14px;
}
.product-searched{
    background-color: #912a2a !important;
}
.grid-container-product {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    background-color: white;
    width: 100%;
}
.grid-item-product {
    border: 1px solid rgba(0, 0, 0, 0.8);
    text-align: center;
    border: none;
    margin: 10px 10px;
    background-color: white;
    width: 100%;
}
.title-product{
    margin: 0 10px;
}
.color-heart{
    color: red;
}
.color-star{
    color: orange;
}

/*Product Filter*/
.product-filter{
    background-color: #dedddd;
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: 10px;
}

.product-filter__label {
    color: #000;
    font-size: 0.875rem;
    margin-right: 21px;
}

.product-filter__btn {
    margin-right: 20px;
    min-width: 90px;
    margin-top: 0;
    background-color: #fff;
    border: none;
    color: rgba(0,0,0,.8);
    padding: 8px;
    border-radius: 0.5rem;
    text-decoration: none;
    text-align: center;
}

.product-filter__btn:hover {
    color: inherit;
}

.product-filter__btn.btn--primary{
    background: #ff7800;
    color: #fff;
}

.product-filter__page {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.product-filter__page-num {
    font-size: 0.9375rem;
    color: #333;
    margin-right: 22px;
}

.product-filter__page-current {
    color:  #ee4d2d;
}

.product-filter__page-control {
    border-radius: 0.5rem;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
}

.product-filter__page-btn {
    flex: 1;
    background-color: #fff;
    display: flex;
    text-decoration: none;
}

.product-filter__page-btn:first-child {
    border-right: 1px solid #eee;
}

.product-filter__page-btn--disabled {
    background-color: #f9f9f9;
    cursor: default;
    pointer-events: none;
}

.product-filter__page-btn--disabled .product-filter__page-icon {
    color: #ccc;
    pointer-events: none;
}

.product-filter__page-icon {
    margin: auto;
    font-size: 0.875rem;
    color: #555;
}

/*Selection*/
.select-input {
    position: relative;
    min-width: 250px;
    height: 40.8px;
    padding: 0 12px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.5rem;
    z-index: 1;
}

.select-input:hover .select-input__list {
    display: block;
    animation: fadeIn ease-out 0.4s;
}

.select-input__label {
    font-size: 0.875rem;
}

.select-input__label--active{
    color:  #ff7800;
}

.select-input__icon {
    font-size: 1.25rem;
    color: #616060;
    position: relative;
}

.select-input__list {
    position: absolute;
    left: 0;
    right: 0;
    top: calc(100% + 1px);
    border-radius: 2px;
    background-color: #fff;
    padding: 9px 16px;
    display: none;
    margin: 0;
    box-shadow: 0 1px 2rem 0 rgba(0, 0, 0, 0.2);
}

.select-input__item {
    list-style: none;
}

.select-input__item-link {
    text-decoration: none;
    display: block;
    padding: 9px 0;
    font-size: 0.9375rem;
    color: #000;
    border-radius: 2px;
}

.select-input__item-link:hover {
    color:  #ff7800;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
