*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#header {
    overflow: hidden;
    background-color: #E8E8E8;
    position: fixed;
    top: 0;
    width: 100%;
}

#content {
    width: 90%;
    height: 100%; 
    margin: 0 auto;
    margin-top: 120px;
}

.bg-category{
    background-color: black;
}
/* Dropdown Button */
.dropbtn {
    background-color: #E8E8E8;
    color: black;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #E8E8E8;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #E8E8E8;
    min-width: 160px;
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: black}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
.btn-search{
    padding: 0 15px;
    background-color: black;
    color: #fff;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

}
.category-link{
    text-decoration: none;
    color: white;
}

.btn-user{
    background-color: #E8E8E8;
    border: none;
}
#content {
    width: 90%;
    height: 100%; 
    margin: 0 auto;
    margin-top: 120px;
}
.banner img{
    width: 100%;
    height: 350px;
}
.slideshow-container {
    width: 100%;
    position: relative;
    margin: auto;
}
/* Ẩn các slider */
.mySlides {
    display: none;
}

/* định dạng các chấm chuyển đổi các slide */
.dot {
    cursor:pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
/* khi được hover, active đổi màu nền */
.active, .dot:hover {
    background-color: #717171;
}

/* Thêm hiệu ứng khi chuyển đổi các slide */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 3s;
    animation-name: fade;
    animation-duration: 3s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

.hot-product{
    background-color: #F8F8F8;
    margin: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
}

.title-phone{
    font-weight: 500;
    font-size: 17px;
    color: #334d4d;
}
.title-sale{
    font-size: 13px;
    font-size: 200;
}
.money-phone{
    color: #527a7a;
    font-weight: 500;
    font-size: 20px;
}
.btn-buy-product{
    background-color: #202020;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 7px 13px;
    font-size: 15px;
}
.btn-add-cart{
    background-color: #6d2d2d;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    padding: 7px 50px;
    font-size: 15px;
    text-decoration: none;
}
a{
  text-decoration: none;
}
.grid-container-category-product {
    display: grid;
    /* grid-gap: 10px; */
    grid-template-columns: auto auto auto auto auto auto;
    /* padding: 10px; */
    width: 100%;
    margin: auto;
    border: 1px solid rgb(236, 236, 236);
    border-radius: 5px;
    margin-top: 20px;
    background-color: white;
}
.grid-item-category{
    background-color: #F8F8F8;
    border: 1px solid rgba(235, 235, 235, 0.8);
    /* border-radius: 10px; */

}

.grid-item {
    background-color: white;
    border: 1px solid rgba(230, 230, 230, 0.8);
    border-radius: 10px;
    margin: 10px 10px;
    padding: 0 2px;
}
.grid-container-hot-product {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto auto auto;
    /* padding: 10px; */
    width: 100%;
    margin: 0 auto;
    /* border: 1px solid rgb(236, 236, 236); */
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #F8F8F8;
}

footer{
    background-color: #F8F8F8;
    padding: 20px;
    margin: 0;
    margin-top: 20px;
}
/* delete underline text of tag <a> */
.link-footer{
    text-decoration: none;
    /* color: white; */
    color: #334d4d;
}
/* color icon facebook */
.icon-facebook{
    color: blue;
}
/* color icon youtube */
.icon-youtube{
    color: red;
}
/* color icon instagram */
.icon-insta{
    color: #9999CC;
}
.pagger{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 22px;
}
.pagger a{
    padding: 2px;
    margin-left: 2px;
    color: black;
    font-size: 2rem;
    margin-left: 30px;
    text-decoration: none;
}

.pagger .target{
    color: red;
}

/* Mũi tên lên đầu trang */
#button {
    display: inline-block;
    background-color: #FF9800;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 20px;
    right: 13px;
    transition: background-color .3s, 
        opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    text-decoration: none;
    border-radius: 50%;
}
#button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 45px;
    color: #fff;
}
#button:hover {
    cursor: pointer;
    background-color: #333;
}
#button:active {
    background-color: #555;
}
#button.show {
    opacity: 1;
    visibility: visible;
}

