*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #F8F8F8 !important;
}
.advanced-search{
    margin-top: 130px;
}
.product-portfolio{
    border: 1px solid rgb(252, 252, 252);
    background-color: white;

}
ul > li {
    list-style-type: none;
}
li> a{
    text-decoration: none;
    color: black;
    line-height: 30px;
}
.choose-item-search{
    background-color: #F0F0F0;
    border: 1px solid rgb(247, 247, 247);
    padding: 8px 0;
}
.format-btn{
    padding: 6px 20px;
    border-radius: 5px;
    background-color: white;
    border: none;
}
.format-btn-price{
    padding: 6px 80px;
    border-radius: 5px;
    background-color: white;
    border: none;
    text-decoration: none;
    color: black;
}
.btn-pagination-left{
    padding: 6px 10px;
    background-color: white;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.btn-pagination-right{
    padding: 6px 10px;
    background-color: white;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.text-price{
    font-size: 14px;
}
.product-searched{
    background-color: #912a2a !important;
}
.grid-container-product {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    background-color: white;
    width: 100%;
}
.grid-item-product {
    border: 1px solid rgba(0, 0, 0, 0.8);
    text-align: center;
    border: none;
    margin: 10px 10px;
    background-color: white;
    width: 100%;
}
.title-product{
    margin: 0 10px;
}
.color-heart{
    color: red;
}
.color-star{
    color: orange;
}