/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 8, 2022, 8:29:10 PM
    Author     : BH1704
*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    width: 80%;
    margin: 70px auto;
    background-color: rgb(250, 250, 250);
}
.edit-profile{
    border: 1px solid rgba(165, 164, 164, 0.3);
    padding: 50px 0px;
    margin: auto 0px;
    border-radius: 5px;
}
label{
    font-size: 13px;
    color: grey;
}

